{% extends "base.twig" %}

{% block content %}
	<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
		<div class='post__image'>
			{% if post.thumbnail %}
				<img src='{{TimberImage(post.thumbnail.src)}}'/>
			{% endif %}
		</div>

		<div class='post__header'>
			<h1>{{ post.title }}</h1>
		</div>
		
		<div class='post__content'>
			{{ post.content }}
		</div>
	</article>
{% endblock %}
