{% extends "base.twig" %}

{% block content %}
	<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
		<div class='container'>
			<div class='post__image'>
				{% if post.thumbnail %}
					<img src='{{TimberImage(post.thumbnail.src) | full_size }}'/>
				{% endif %}
			</div>

			<div class='post__header'>
				<h1>{{ post.title }}</h1>
			</div>
		</div>

		<div class='container'>
			<div class='row'>
				<div class='col-md-8'>
					<div class='post__content'>
						{{ post.content }}
					</div>
				</div>
			</div>
		</div>
	</article>
{% endblock %}