{% extends "base.twig" %}

{% block content %}
	<article class="h-entry post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
		
		{% if post.thumbnail %}
		<div class='post__image'>
			<img src='{{TimberImage(post.thumbnail.src)}}'/>
		</div>
		{% endif %}

		{% block byline %}
		<header>
			<h1 class='p-name'>{{ post.title }}</h1>
		</header>
		{% endblock %}
		
		<div class='e-content'>
			{{ post.content }}
		</div>
		
	</article>
{% endblock %}
