<article class="tease tease-{{post.post_type}}" id="tease-{{post.ID}}">
{% block content %}
	{% if post.thumbnail %}
	<div class='post__image'>
		<img src='{{Image(post.thumbnail).src | size("thumbnail")}}'/>
	</div>
	{% endif %}
	<h2>
		<a href="{{post.link}}">{{post.title}}</a>
	</h2>
	<p>{{post.get_preview}}</p>
{% endblock content %}
</article>